    .card {
      background-color: #f8f9fa; /* Color de fondo elegante */
      border: none;
    }
    
    .card-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    .text-primary {
      color: #007bff;
      text-decoration: none;
    }
    
    .text-primary:hover {
      text-decoration: underline;
    }
    
    .like-placeholder {
      font-size: 1.5rem;
      color: #ccc; /* Color gris para placeholder */
    }