.details_page {
  background-color: #f8f9fa; /* Fondo claro para la página de detalles */
  padding: 20px;
  border-radius: 10px;
}

.job-info {
  margin-top: 20px;
}

.job-logo {
  width: 100px; /* Tamaño del logo de la empresa */
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.company-name {
  font-size: 1.2rem;
  color: #6c757d; /* Color gris para el nombre de la compañía */
}

.job-description,
.job-salary {
  margin-top: 20px;
}

.apply-button {
  margin-top: 20px;
  text-align: center;
}

.apply-button .btn {
  font-size: 1.2rem;
  padding: 10px 20px;
}
